<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student App Example - Group Form</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/group" class="active">Add a Group</a>
        <a href="/student">Add a Student</a>
    </nav>

    <h1>Add a Group</h1>

    <form id="group-form">
        <input id="group-name-input" type="text" placeholder="Enter The Group Name">
        <button>Submit</button>
    </form>

    <script src="/js/group_browser.js"></script>
</body>

</html>