<h1>Home Page</h1>

{{#if loggedIn}}
    <p>{{username}}</p>
{{/if}}

<ul>
    {{#each fruits}}
    <li>{{this}}</li>
    {{/each}}
</ul>

<ul>
    <li>John Smith</li>
    <li>Rory Pond</li>
    <li>Amy Pond</li>
</ul>