<h1>See What Others Are Thinking</h1>
<!-- Output each user's email address, using a handlebars each loop -->
<ul>
    {{#each thoughts}}
        <li>
            <p>{{text}}</p>
            <p>{{user}}</p>
        </li>
    {{/each}}
</ul>