<form action="/register" method="POST">
    <h1>Register User</h1>

    <input type="email" placeholder="Please enter your email address">
    <input type="password" placeholder="Please enter your password">
    <button>Submit</button>
</form>