<h1>About Page</h1>

<form action="/register" method="POST">
    <input type="email" placeholder="Please enter your email address.">
    <input type="password" placeholder="Please enter your password.">
    <button>Submit</button>
</form>