:root {
    --myPurple: #301934;
  }

body {
    padding: 5%;;
}

nav {
    display: flex;
    justify-content: end;
}

nav a {
    text-decoration: none;
    padding: 6px 10px;
    color: var(--myPurple);
    border: 1px solid var(--myPurple);
    border-radius: 3px;
}

nav a:not(:last-child) {
    margin-right: 15px;
}

nav a:hover,
nav a.active {
    background-color: var(--myPurple);
    color: #fff;
}