body {
  padding: 5%;
}

nav {
  display: flex;
  justify-content: end;
}

nav a {
  text-decoration: none;
  padding: 6px 10px;
  color: #333;
  border: 1px solid #333;
}

nav a:not(:last-child) {
  margin-right: 15px;
}

nav a:hover, nav a.active {
  background-color: #333;
  color: #fff;
}

form {
  width: 400px;
  display: flex;
  flex-direction: column;
}

form > * {
  padding: 7px 10px;
  margin: 3px 0;
}